---
---
<!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-css3" width="50" height="50" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <title>CSS</title>
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
    <path d="M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" />
</svg> -->
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 452 520">
    <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"/>
    <path fill="#30a9dc" d="M226 472l149-41 35-394H226"/>
    <path fill="#ecedee" d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"/>
    <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"/>
</svg>