---
import Template from '../layouts/template.astro';

import Header from '../components/header.astro';
import Aboutme from '../components/aboutme.astro';
import Disponiblebutton from '../components/button.astro';
import Projects from '../components/projects.astro';
import Tecnology from '../components/tecnology.astro';

import Sidebar from '../components/sidebar.astro';

const pageTitle = "Portfolio Juan Pablo Godoy";
---
<Template pageTitle={ pageTitle }>
    <Header />
    <Sidebar />
    <section id="sobremi" class="py-16 px-2">
        <Aboutme />
        <Disponiblebutton />
    </section>
    <section id="proyectos" class="py-16 px-2">
        <Projects />
    </section>
    <section id="tecnologias" class="py-16 px-2">
        <Tecnology />
    </section>
</Template>
