---
import Template from "../layouts/template.astro";

import Header from '../components/header.astro';
import Aboutme from '../components/aboutme.astro';
import Disponiblebutton from '../components/button.astro';
import Projects from '../components/projects.astro';
import Tecnology from '../components/tecnology.astro';
---
<Template>
    <Header />
    <section class="py-16 px-2">
        <Aboutme />
        <Disponiblebutton />
    </section>
    <section class="py-16 px-2">
        <Projects />
    </section>
    <section class="py-16 px-2">
        <Tecnology />
    </section>
</Template>
