---
import Template from '../layouts/template.astro';

import Header from '../components/header.astro';
import Aboutme from '../components/aboutme.astro';
import Disponiblebutton from '../components/button.astro';
import Projects from '../components/projects.astro';
import Tecnology from '../components/tecnology.astro';
import Perfil from '../components/perfil.astro';

import Sidebar from '../components/sidebar.astro';

const pageTitle = "Portfolio Juan Pablo Godoy";
---
<Template pageTitle={ pageTitle }>
    
    <Header />
    <Sidebar />

    <section id="perfil" class="py-14 md:px-0 px-4">
        <Perfil />
        <Disponiblebutton />
    </section>
    
    <section id="proyectos" class="py-14 md:px-0 px-4">
        <Projects />
    </section>

    <section id="sobremi" class="py-14 md:px-0 px-4">
        <Aboutme />
    </section>

    <section id="tecnologias" class="py-14 md:px-0 px-4">
        <Tecnology />
    </section>
</Template>
