---
import { ViewTransitions } from 'astro:transitions';

import Header from '../components/header.astro';
import Disponiblebutton from '../components/button.astro';
import Footer from '../components/footer.astro';
import Tecnologias from '../components/tecnologias.astro';
const minombre = "Juan Pablo Godoy";
---
<html lang="es">
<head>
    <meta name="description" content="Este sitio es un portafolio donde se describen las capacidades y destrezas del desarrollador Juan Pablo Godoy, tambien agregando unos los proyectos desarrollados." />
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Portfolio</title>
    <ViewTransitions />
    
</head>
<body class="bg-gray-900 text-white">
    <main class="container max-w-3xl mx-auto md:mx-auto py-16">
        <Header />

        <section class="mt-16 pb-20">
            <div class="text-pretty">
                <h2 class="text-4xl font-bold mb-8">Acerca de mí</h2>
                <h3 class="text-2xl pb-4">
                    Hola, Yo soy {minombre}.
                </h3>
                <p class="text-xl pb-4">
                    Desarrollador Web full stack y Modelo de Patas. Soy de Quillota, Chile. Especializado en Procesos de Desarrollo de Soluciones Informáticas.
                </p>
            </div>
            <Disponiblebutton />   
        </section>

        <section>
            <h2 class="text-4xl font-bold mb-8">Proyectos</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-gray-800 p-4 rounded shadow">
                    <a href="/posts/project1/" class="text-2xl font-bold">Desarrollo de sistema de gestión de solicitudes</a>
                    <p>Descripción detallada del proyecto 1.</p>
                </div>
                <div class="bg-gray-800 p-4 rounded shadow">
                    <h3 class="text-2xl font-bold">Sistema de gestion de inventario</h3>
                    <p>Descripción detallada del proyecto 2.</p>
                </div>
                <div class="bg-gray-800 p-4 rounded shadow">
                    <h3 class="text-2xl font-bold">Machine Learning de eventos cardíacos</h3>
                    <p>Descripción detallada del proyecto 3.</p>
                </div>
            </div>
        </section>

        <Tecnologias />

    </main>
    
    <Footer />

</body>
</html>