---
import Giticon from '../components/svg/giticon.astro'; //Nombre del import siempre en mayus o no funcionará
import Pythonicon from '../components/svg/pythonicon.astro';
import Nodeicon from '../components/svg/nodeicon.astro';
import Csharpicon from '../components/svg/csharpicon.astro';
import Npmicon from '../components/svg/npmicon.astro';
import Tailwindicon from '../components/svg/tailwindicon.astro';
import Typescripticon from '../components/svg/typescripticon.astro';
const minombre = "Juan Pablo Godoy";
---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body class="bg-gray-900 text-white">
    <header class="text-center pt-16">
        <h1 class="text-6xl font-bold">Bienvenido a Mi Portafolio</h1>
        <p class="text-xl mt-2">Un vistazo a mi trabajo y habilidades</p>
    </header>
    <main class="px-24 py-16">
        <section class="mt-16 pb-20">
            <h2 class="text-4xl font-bold mb-8">Acerca de mí</h2>
            <p class="text-lg">
                Hola, Yo soy {minombre}. Mi gran pasión es la innovación tecnológica y el descubrimiento de nuevas herramientas de desarrollo.
            </p>
        </section>
        <section>
            <h2 class="text-4xl font-bold mb-8">Proyectos</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-gray-800 p-4 rounded shadow">
                    <h3 class="text-2xl font-bold">Desarrollo de sistema de gestión de solicitudes</h3>
                    <p>Descripción detallada del proyecto 1.</p>
                </div>
                <div class="bg-gray-800 p-4 rounded shadow">
                    <h3 class="text-2xl font-bold">Sistema de gestion de inventario</h3>
                    <p>Descripción detallada del proyecto 2.</p>
                </div>
                <div class="bg-gray-800 p-4 rounded shadow">
                    <h3 class="text-2xl font-bold">Machine Learning de eventos cardíacos</h3>
                    <p>Descripción detallada del proyecto 3.</p>
                </div>
            </div>
        </section>
        <section class="mt-16">
            <h2 class="text-4xl font-bold mb-8">Habilidades</h2>
            <ul class="list-none pl-0 flex space-x-4 ">
                <li>
                    <Giticon/>
                    <p>GitHub</p>
                </li>
                <li>
                    <Pythonicon/>
                    <p>Python</p>
                </li>
                <li>
                    <Nodeicon/>
                    <p>NodeJS</p>
                </li>
                <li>
                    <Csharpicon/>
                    <p>NodeJS</p>
                </li>
                <li>
                    <Npmicon/>
                    <p>npm</p>
                </li>
                <li>
                    <Tailwindicon />
                    <p>Tailwind</p>
                </li>
                <li>
                    <Typescripticon />
                    <p>TypeScript</p>
                </li>
            </ul>
        </section>    
    </main>
    <footer class="bg-gray-800 text-center py-8 mt-16">
        <p>Gracias por visitar mi portafolio</p>
    </footer>
</body>
</html>
