---
import Template from "../layouts/template.astro";
import Goback from "../components/back.astro";

const pageTitle = "Proyecto A";
---
<Template pageTitle={ pageTitle }>
    <Goback />
    <h1 class="text-4xl font-bold py-12 text-justify-center ">
        Proyecto: Sistema para atención de ticket
    </h1>
    <div class="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, 
            velit explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, 
            velit explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum dolor 
            sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo praesentium 
            beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur?
            Neque nesciunt fugit libero!Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic,
            velit explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
        <br>    
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo 
            praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo praesentium beatae, placeat debitis vel 
            aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo 
            praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, 
            velit explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem 
            ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit 
            explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum 
            dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo 
            praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo praesentium beatae, 
            placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit 
            explicabo praesentium beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero! Lorem ipsum dolor 
            sit amet consectetur adipisicing elit. Repudiandae expedita earum ipsam consequuntur autem, minus hic, velit explicabo praesentium 
            beatae, placeat debitis vel aliquid. Culpa, consequatur? Neque nesciunt fugit libero!
        </p>
    </div>
</Template>
