---
import Template from "../layouts/template.astro";
import Goback from "../components/back.astro";
import Building from "../components/building.astro";

const pageTitle = "Proyecto C";
---
<Template pageTitle={ pageTitle }>
    <Goback />
    <h1 class="text-4xl font-bold py-12 text-justify-center ">
        Proyecto: Machine learning eventos cardiacos
    </h1>
    <Building />
</Template>
