---
const minombre = "Juan Pablo Godoy";
---
<div class="text-pretty pb-4">
    <h2 class="text-4xl font-bold py-12">Acerca de mí</h2>
    <h3 class="text-3xl py-2">
        Hola, yo soy <strong>{minombre}</strong>.
    </h3>
    <p class="text-xl">
        Mis amigos me llamar <strong>Percy</strong>,<br>
        Soy desarrollador Web full stack y amante del modelado e impresión 3D 💞<br>
        Vivo en Quillota, Chile 📍<br>
        Especializado en Proceso de Desarrollo de Soluciones Informáticas y dirección de proyectos ✨
    </p>
</div>