---
---
<header class="text-center md:pt-24">
    <h1 class="md:text-6xl text-4xl font-bold">Bienvenido a Mi Portafolio</h1>
    <p class="text-xl mt-2">Un vistazo a mi trabajo y habilidades</p>
</header>