---
import Giticon from '../components/icons/giticon.astro'; //Nombre del import siempre en mayus o no funcionará
import Pythonicon from '../components/icons/pythonicon.astro';
import Nodeicon from '../components/icons/nodeicon.astro';
import Csharpicon from '../components/icons/csharpicon.astro';
import Npmicon from '../components/icons/npmicon.astro';
import Tailwindicon from '../components/icons/tailwindicon.astro';
import Typescripticon from '../components/icons/typescripticon.astro';
---
<section class="mt-16">
            <h2 class="text-4xl font-bold mb-8">Tecnologías</h2>
            <ul class="list-none pl-0 flex space-x-4 ">
                <li>
                    <Giticon/>
                    <p>GitHub</p>
                </li>
                <li>
                    <Pythonicon/>
                    <p>Python</p>
                </li>
                <li>
                    <Nodeicon/>
                    <p>NodeJS</p>
                </li>
                <li>
                    <Csharpicon/>
                    <p>NodeJS</p>
                </li>
                <li>
                    <Npmicon/>
                    <p>npm</p>
                </li>
                <li>
                    <Tailwindicon />
                    <p>Tailwind</p>
                </li>
                <li>
                    <Typescripticon />
                    <p>TypeScript</p>
                </li>
            </ul>
        </section> 