---
import Csharpicon from      '../components/icons/csharpicon.astro';
import Cssicon from         '../components/icons/cssicon.astro';
import Giticon from         '../components/icons/giticon.astro';
import Htmlicon from        '../components/icons/htmlicon.astro';
import Javaicon from        '../components/icons/javaicon.astro';
import Nodeicon from        '../components/icons/nodeicon.astro';
import Npmicon from         '../components/icons/npmicon.astro';
import Pythonicon from      '../components/icons/pythonicon.astro';
import Tailwindicon from    '../components/icons/tailwindicon.astro';
import Typescripticon from  '../components/icons/typescripticon.astro';
---
<section class="mt-16">
    <h2 class="text-4xl font-bold mb-8">Tecnologías</h2>
    <ul class="list-none pl-0 flex space-x-4">
        <li class="px-1 flex flex-col justify-center items-center">
            <Giticon/>
            <p>GitHub</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Pythonicon/>
            <p>Python</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Nodeicon/>
            <p>NodeJS</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Csharpicon/>
            <p>C sharp</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Npmicon/>
            <p>npm</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Typescripticon />
            <p>TypeScript</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Htmlicon />
            <p>HTML 5</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Cssicon />
            <p>CSS 3</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Tailwindicon />
            <p>Tailwind</p>
        </li>
        <li class="px-1 flex flex-col justify-center items-center">
            <Javaicon />
            <p>Java</p>
        </li>
    </ul>
</section> 