<h3 class="text-3xl py-2">
    Mis logros:
</h3>
<p class="text-xl">
    En el año 2022 participé en el <a href="https://www.rallydeinnovacion.org/">Rally latinoamericano de innovación</a>
    donde unos de los mayores desafios es el trabajo en equipo
</p>