<div class="text-pretty">
    <h2 class="text-4xl font-bold py-8">Perfil profesional</h2>
    <h3 class="text-3xl py-2">
        4 Años de experiencia. <p class="text-amber-300 text-xl">Ingenieria Civil Informática, Dibujante Técnico.</p>
        <p class="text-xl">Especializado en Gestion de soluciones informáticas.</p>
    </h3>
    <p class="text-xl">
        
    </p>
</div>