<div class="text-pretty">
    <h2 class="text-4xl font-bold py-8">Perfil profesional</h2>
    <h3 class="text-3xl py-2">
        4 Años de experiencia. <p class="text-amber-300 text-xl">Desarrollador Web / Dibujante Técnico</p>
        <p class="text-xl">Formación en Gestión de Proyectos Informáticos <br> Futuro Ingeniero Civil Informático</p>
    </h3>
</div>
