---
---
<h2 class="text-4xl font-bold py-12">Proyectos</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-pretty">
    <div class="bg-gray-800 p-4 rounded shadow">
        <a href="/posts/project1/" class="text-2xl font-bold">Aplicación web para la atención de ticket's de soporte</a>
        <p class="pt-4 px-2">
            Llevé a cabo la ejecución de la solución técnica de un sistema 
            web de gestión de solicitudes para la carrera de ingeniería civil 
            informática. Las tecnologías que se usaron para el desarrollo de 
            este sistema fueron Node.js, Express, MySQL, Handlebars.
        </p>
    </div>

    <div class="bg-gray-800 p-4 rounded shadow">
        <h3 class="text-2xl font-bold">Aplicacion de escritorio para la gestion de inventario de laboratorios educativos</h3>
        <p class="pt-4 px-2">
            Analicé, diseñé, desarrollé, gestioné, e implementé una solución 
            informática que consistía en una aplicación la gestión de inventarios 
            de la escuela de ingeniería y negocios para la institución universidad 
            de viña del mar. Las tecnologías de desarrollo fueron: .NET Windows 
            Forms (C#) y SQL Server.
        </p>
    </div>
    
    <div class="bg-gray-800 p-4 rounded shadow">
        <h3 class="text-2xl font-bold">Machine Learning de eventos cardíacos</h3>
        <p class="pt-4 px-2">
            Desarrollé un modelo de Machine Learning para la predicción de eventos 
            de ataque cardiacos bajo los parámetros de los estados de la salud de 
            la persona. Se desarrolló con python con el framework Flask para realizar 
            el servidor e interfaz web.
        </p>
    </div>
</div>