---
import { ViewTransitions } from 'astro:transitions'; // Importamos el modulo de tansicion entre paginas
import Footer from '../components/footer.astro';

const { pageTitle } = Astro.props;
---
<html lang="es">
<head>
    <meta name="description" content="Este sitio es un portafolio donde se describen las capacidades y destrezas del desarrollador Juan Pablo Godoy, tambien agregando unos los proyectos desarrollados." />
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>{ pageTitle }</title>
    <ViewTransitions />
</head>
<body class="min-h-screen bg-slate-900 text-white">

    <main class="container max-w-3xl mx-auto">

        <slot />

    </main>

    <Footer />

</body>
</html>