---
import { ViewTransitions } from 'astro:transitions'; // Importamos el modulo de tansicion entre paginas
import Footer from '../components/footer.astro';

const { pageTitle } = Astro.props;
---
<html lang="es">
<head>
    <meta name="description" content="Este sitio es un portafolio donde se describen las capacidades y destrezas del desarrollador Juan Pablo Godoy, tambien agregando unos los proyectos desarrollados." />
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>{ pageTitle }</title>
    <ViewTransitions />
</head>
<body class="min-h-screen bg-slate-900 text-white">

    <div class="relative -z-50 bg-cover top-0 flex justify-center pointer-events-none">
        <div class="w-[108rem] fixed flex-none flex justify-end">
            <picture>
                <img class="w-[90rem] flex-none max-w-none dark:block" src="src/layouts/docs-dark@30.avif" alt="" >
            </picture>
        </div>
    </div>
    <div class="relative -z-50 opacity-50 top-0 inset-x-0 flex justify-center pointer-events-none">
        <div class="fixed flex-none flex justify-end">
            <picture class="rotate-180">
                <img class="w-[180rem] flex-none max-w-none dark:block" src="src/layouts/docs-dark@30.avif" alt="" >
            </picture>
        </div>
    </div>
    <main class="container max-w-3xl mx-auto">
        <slot />
    </main>

    <Footer />

</body>
</html>